<meta charset="UTF-8" />
<title><%= siteTitle %></title>
<meta name="description" content="<%= themeConfig.siteDescription %>">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link type='text/css' rel='stylesheet' href='<%= themeConfig.domain %>/styles/main.css' media='screen' />
<link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/KaTeX/0.11.1/katex.min.css">
<link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src='<%= themeConfig.domain %>/media/scripts/jquery.js'></script>
<script type="text/javascript" src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>

<script >hljs.initHighlightingOnLoad();</script>