<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
    <script src="/media/search/fuse.js"></script>
    <script src="/media/search/ejs.min.js"></script>
    <script src="/media/search/gridea-search.js"></script>
    <script src="/media/search/result.ejs" type="text/ejs"></script>
</head>

<body>
    <div class="layout theme-dark">
        <%- include('./includes/header') %>
        <%- include('./includes/menu') %>

        <div class="layout-content">
            <div class="layout-content-main">
                <div class="container">
                    <div class="row justify-content-lg-center">
                        <div class="col-12 col-lg-9">
                            <div id="gridea-search-result" class="layout-archive">

                                <div class="card searching">
                                    <div class="card-header">
                                        <div class="header-content">
                                            <div class="title">搜索中......</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card no-result" style="display:none">
                                    <div class="card-header">
                                        <div class="header-content">
                                            <div class="title">未搜索到相关文章</div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <%- include('./includes/footer') %>
    </div>
</body>

</html>